name: Build and package LisaEm for Linux

on:
  workflow_call:
    inputs:
      version_id:
        required: true
        type: string
      today:
        required: true
        type: string

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      # Avoid \r\n line endings
      - run: git config --global core.autocrlf input
      
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: List the checked out LisaEm files (the top folder only)
        run: ls -la .

      - name: Setup the VER and RELEASEDATE environment variables, to be used by the LisaEm build script
        run: |
          echo "VER=${{ inputs.version_id }}" >> $GITHUB_ENV
          echo "Exported environment variable VER=$VER"
          echo "RELEASEDATE=${{ inputs.today }}" >> $GITHUB_ENV
          echo "Exported environment variable RELEASEDATE=$RELEASEDATE"
        
      - name: Install libraries that are needed to build wxWidgets
        # Note: "libfuse2" below is needed by the appimagetool that packages LisaEm into an .AppImage file
        run: |
          sudo apt-get update
          sudo apt-get install -y libtiff6 libtiff-dev build-essential libgtk-3-dev libfuse2
          
      - name: Download, build and install wxWidgets
        run: |
          ./scripts/build-wx3.2.1-gtk.sh
          # Add wxWidgets to PATH
          echo "/usr/local/wx3.2.1-gtk/bin" >> $GITHUB_PATH

      - name: Download appimagetool
        run: |
          cd scripts
          wget https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage
          mv appimagetool-x86_64.AppImage appimagetool
          chmod +x appimagetool
          cd ..

      - name: Build and package LisaEm
        run: |
          ./build.sh clean build package

      - name: List the generated files
        run: |
          ls -l ./bin/lisaem
          ls -l ./pkg/LisaEm_Linux_x86_64.AppImage
          
      - name: Rename AppImage file to include version and date
        run: |
          # Use the variables passed from the master to name the artifact files
          
          APPIMAGE_FILENAME="LisaEm-${{ inputs.version_id }}-${{ inputs.today }}-Linux_x86_64.AppImage"
          mv ./pkg/LisaEm_Linux_x86_64.AppImage "$APPIMAGE_FILENAME"
          echo "APPIMAGE_FILENAME=$APPIMAGE_FILENAME" >> $GITHUB_ENV

          # Parse the ubuntu version (e.g. 24.04) into an env var OSREL_VERSION_ID
          eval $(sed -e 's/^/export OSREL_/g' /etc/os-release )
          DEBPKG_FILENAME="LisaEm-${{ inputs.version_id }}-${{ inputs.today }}-ubuntu-${OSREL_VERSION_ID}-amd64.deb"
          mv ./pkg/LisaEm-ubuntu-${OSREL_VERSION_ID}-amd64.deb "$DEBPKG_FILENAME"
          echo "DEBPKG_FILENAME=$DEBPKG_FILENAME" >> $GITHUB_ENV

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-artifact
          path: |
            ${{ env.APPIMAGE_FILENAME }}
            ${{ env.DEBPKG_FILENAME }}
