name: Master Release Workflow

on:
  push:
    branches: [ main, master ]
  release:
    types: [ published ]

jobs:
  # Logic to determine if we use the Release Tag or the Commit ID as the produced build number
  setup:
    runs-on: ubuntu-latest
    outputs:
      version_id: ${{ steps.vars.outputs.version_id }}
      today: ${{ steps.vars.outputs.today }}
    steps:
      - name: Set Variables
        id: vars
        run: |
          # Get Today's Date
          echo "today=$(date +'%Y.%m.%d')" >> $GITHUB_OUTPUT
          
          # Check if this is a release or a push
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "version_id=${{ github.event.release.tag_name }}" >> $GITHUB_OUTPUT
          else
            echo "version_id=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          fi

  # Call the Child Workflows
  build-linux:
    needs: setup
    uses: ./.github/workflows/build-linux.yml
    with:
      version_id: ${{ needs.setup.outputs.version_id }}
      today: ${{ needs.setup.outputs.today }}

  # Final job to collect artifacts and post to the release page
  publish:
    needs: [setup, build-linux]
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
      
      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            **/*.deb
            **/*.AppImage
            **/*.exe
            **/*.dmg
